@page
@model MIssion09_ahyer107.Pages.PurchaseCompletedModel
@{
}

<div class="text-center">
    <h2>Your purchase was completed!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>